.button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.load-more-button {
  width: 350px;
  height: 40px;
  background-color: #ccc;
  border: 1px solid #777;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
