.screeningcard__outerdiv {
  display: flex;
  margin: 0;
  width: 50rem;
  height: 20rem;
  padding-bottom: 2rem;
}

.screeningcard__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  overflow-x: scroll;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding-right: 2rem;

  li {
    margin-top: 1.8rem;
    max-height: 80%;
    border-radius: 10px;
    min-width: 12rem;
    background-color: #012840;
    color: #ffffff;
    font-size: larger;
    padding-left: 2rem;
    font-weight: 600;
  }

  li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 800px) {
  .screeningcard__outerdiv {
    flex-direction: column;

    height: 28rem;
    width: 80%;
  }

  .screeningcard__list {
    flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 2rem;

    li {
      margin-left: -0.5rem;
      padding-left: 1rem;
    }
  }

  .screeningcard__header {
    text-align: center;
  }
}
