.screeningcard__outerdiv {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 47rem;
  height: 19rem;
  padding-bottom: 2rem;
}

.screeningcard__container {
  width: 16rem;
}

.screeningcard__title {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #1f4163;
  font-size: 1.2rem;
  padding: 0rem 1rem;
}

.screeningcard__list {
  display: flex;
  text-align: center;
  gap: 2rem;
  list-style: none;
  overflow-x: scroll;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding-right: 2rem;
  width: 100%;
  outline: 2px solid #bbb;

  li {
    outline: 1px solid #fff;
    box-shadow: 0px 0px 4px 0px #333;
    margin-top: 1.8rem;
    height: 200px;
    border-radius: 10px;
    background-color: #1f4163;
    color: #ffffff;
    font-weight: 600;

    a {
      color: #ffffff;
      text-decoration: none;
      text-overflow: ellipsis;
    }
  }

  li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
}

.screeningcard__room,
.screeningcard__date,
.screeningcard__time {
  background-color: #03658c;
  margin: 2px 2px;
  padding: 0.77rem;
  height: 20px;
}

.screeningcard__time {
  border-radius: 0px 0px 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.screeningcard__date {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 800px) {
  .screeningcard__outerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28rem;
    width: 80%;
    margin: 0 auto;
    align-items: center;
  }

  .screeningcard__list {
    flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 13rem;

    .screeningcard__container {
      width: 100%;
    }
  }
}
